In [61]:
import numpy as np 
import pandas as pd
import glob
import os
import matplotlib as plt
import seaborn as sns
%matplotlib inline

In [15]:
#Import Data
df = pd.concat(map(pd.read_csv, glob.glob('Data Folder/*.csv')))

In [57]:
len(df)
#To see all columns
pd.set_option('display.max_columns', None)

In [49]:
#Check for duplicates
df[df.duplicated()]

Empty DataFrame
Columns: [id, firstname, lastname, age, nationality, height, weight, injured, teamID, teamname, appearences, lineups, minutes, position, rating, captain, subIn, subOut, bench, totalShots, shotsOn, totalGoals, goalsConceded, goalAssists, goalSaves, totalPasses, keyPasses, passAccuracy, totalTackles, blocks, interceptions, duelsTotal, duelsWon, dribbleAttempts, dribblesSuccess, dribblesPast, foulsDrawn, foulsCommitted, cardsYel, cardsYelRed, cardsRed, penaltyWon, penaltyCommited, penaltyScored, penaltyMissed, penaltySaved, season]
Index: []

[0 rows x 47 columns]

In [50]:
df

,id,firstname,lastname,age,nationality,height,weight,injured,teamID,teamname,...,foulsCommitted,cardsYel,cardsYelRed,cardsRed,penaltyWon,penaltyCommited,penaltyScored,penaltyMissed,penaltySaved,season
0,18241,Mark,Yeates,36.0,Republic of Ireland,175 cm,66 kg,False,47,Tottenham,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
1,19153,Gareth,Barry,39.0,England,183 cm,78 kg,False,66,Aston Villa,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
2,19203,Ashley,Cole,41.0,England,176 cm,66 kg,False,42,Arsenal,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
3,19417,Liam,Ridgewell,37.0,England,188 cm,77 kg,False,66,Aston Villa,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
4,50978,Justin,Hoyte,36.0,Trinidad and Tobago,180 cm,68 kg,False,42,Arsenal,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720,17,Christian,Pulisic,24.0,USA,172 cm,69 kg,False,49,Chelsea,...,13.0,2.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2020/2021
721,890,Faustino Marcos Alberto,Rojo,32.0,Argentina,187 cm,85 kg,False,33,Manchester United,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020/2021
722,2294,Willian,Borges da Silva,34.0,Brazil,175 cm,77 kg,False,42,Arsenal,...,5.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2020/2021
723,18897,DeAndre Roselle,Yedlin,29.0,USA,172 cm,75 kg,False,34,Newcastle,...,4.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2020/2021
724,19549,Antonee,Robinson,25.0,USA,176 cm,70 kg,False,36,Fulham,...,20.0,4.0,0.0,1.0,NaN,NaN,0.0,0.0,NaN,2020/2021

In [26]:
#check the data types
df.dtypes

id                   int64
firstname           object
lastname            object
age                float64
nationality         object
height              object
weight              object
injured               bool
teamID               int64
teamname            object
appearences        float64
lineups            float64
minutes            float64
position            object
rating             float64
captain               bool
subIn              float64
subOut             float64
bench              float64
totalShots         float64
shotsOn            float64
totalGoals         float64
goalsConceded      float64
goalAssists        float64
goalSaves          float64
totalPasses        float64
keyPasses          float64
passAccuracy       float64
totalTackles       float64
blocks             float64
interceptions      float64
duelsTotal         float64
duelsWon           float64
dribbleAttempts    float64
dribblesSuccess    float64
dribblesPast       float64
foulsDrawn         float64
foulsCommitted     float64
cardsYel           float64
cardsYelRed        float64
cardsRed           float64
penaltyWon         float64
penaltyCommited    float64
penaltyScored      float64
penaltyMissed      float64
penaltySaved       float64
season              object
dtype: object

In [59]:
df.describe()

,id,age,teamID,appearences,lineups,minutes,rating,subIn,subOut,bench,totalShots,shotsOn,totalGoals,goalsConceded,goalAssists,goalSaves,totalPasses,keyPasses,passAccuracy,totalTackles,blocks,interceptions,duelsTotal,duelsWon,dribbleAttempts,dribblesSuccess,dribblesPast,foulsDrawn,foulsCommitted,cardsYel,cardsYelRed,cardsRed,penaltyWon,penaltyCommited,penaltyScored,penaltyMissed,penaltySaved
count,10693.000000,10692.000000,10693.000000,10668.000000,10668.000000,10668.000000,3121.000000,10668.000000,10668.000000,10668.000000,3051.000000,2995.000000,10670.000000,1247.000000,1506.000000,243.000000,3164.000000,3045.000000,3159.000000,2667.000000,2813.000000,3063.000000,3149.000000,3132.000000,3059.000000,3038.000000,0.0,3085.000000,3090.000000,10668.000000,10668.000000,10668.000000,277.000000,336.000000,3326.000000,3326.000000,281.000000
mean,53057.110166,33.366723,107.722529,14.913855,12.034777,1075.794338,6.812107,2.879078,2.861642,7.243438,17.024254,6.326210,1.420525,4.904571,2.762284,53.497942,532.082807,13.749754,62.691675,27.970004,5.260220,17.939275,153.751350,77.382822,23.615561,14.121461,NaN,14.727391,15.360194,1.721222,0.029434,0.044432,1.335740,1.184524,0.137703,0.035779,0.395018
std,58852.788867,5.494932,241.971787,13.150661,12.345963,1086.614403,0.296165,4.019196,4.058421,7.878464,21.554994,9.243935,3.042889,13.291389,2.438737,44.162582,515.078098,17.368346,23.475262,24.629449,7.709693,20.413481,136.832887,69.238690,31.727388,18.978995,NaN,16.060983,14.239365,2.350766,0.175556,0.216273,0.811547,0.465398,0.664668,0.211505,0.668562
min,17.000000,17.000000,33.000000,0.000000,0.000000,0.000000,4.950000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,18715.000000,30.000000,40.000000,1.000000,0.000000,12.000000,6.647368,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,1.000000,9.000000,102.000000,2.000000,52.000000,8.000000,0.000000,2.000000,26.000000,14.000000,3.000000,2.000000,NaN,3.000000,3.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
50%,19561.000000,34.000000,48.000000,13.000000,8.000000,752.000000,6.800000,1.000000,1.000000,4.000000,9.000000,3.000000,0.000000,0.000000,2.000000,46.000000,396.500000,7.000000,71.000000,22.000000,2.000000,10.000000,128.000000,64.000000,12.000000,7.000000,NaN,10.000000,12.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,90514.000000,37.000000,63.000000,27.000000,22.000000,1980.000000,6.973333,4.000000,4.000000,11.000000,23.000000,8.000000,1.000000,0.000000,3.000000,90.500000,803.000000,20.000000,79.000000,41.000000,7.000000,28.000000,244.000000,124.000000,32.000000,19.000000,NaN,21.000000,24.000000,3.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,315237.000000,56.000000,1830.000000,42.000000,42.000000,3420.000000,8.900000,24.000000,26.000000,38.000000,184.000000,76.000000,32.000000,74.000000,20.000000,166.000000,2903.000000,147.000000,100.000000,175.000000,59.000000,156.000000,783.000000,404.000000,267.000000,183.000000,NaN,167.000000,81.000000,14.000000,2.000000,3.000000,6.000000,5.000000,10.000000,3.000000,3.000000

In [58]:
df

,id,firstname,lastname,age,nationality,height,weight,injured,teamID,teamname,appearences,lineups,minutes,position,rating,captain,subIn,subOut,bench,totalShots,shotsOn,totalGoals,goalsConceded,goalAssists,goalSaves,totalPasses,keyPasses,passAccuracy,totalTackles,blocks,interceptions,duelsTotal,duelsWon,dribbleAttempts,dribblesSuccess,dribblesPast,foulsDrawn,foulsCommitted,cardsYel,cardsYelRed,cardsRed,penaltyWon,penaltyCommited,penaltyScored,penaltyMissed,penaltySaved,season
0,18241,Mark,Yeates,36.0,Republic of Ireland,175 cm,66 kg,False,47,Tottenham,0.0,0.0,0.0,Midfielder,NaN,False,0.0,0.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
1,19153,Gareth,Barry,39.0,England,183 cm,78 kg,False,66,Aston Villa,1.0,1.0,90.0,Midfielder,NaN,False,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
2,19203,Ashley,Cole,41.0,England,176 cm,66 kg,False,42,Arsenal,2.0,2.0,180.0,Defender,NaN,False,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
3,19417,Liam,Ridgewell,37.0,England,188 cm,77 kg,False,66,Aston Villa,0.0,0.0,0.0,Defender,NaN,False,0.0,0.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
4,50978,Justin,Hoyte,36.0,Trinidad and Tobago,180 cm,68 kg,False,42,Arsenal,1.0,0.0,1.0,Defender,NaN,False,1.0,0.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720,17,Christian,Pulisic,24.0,USA,172 cm,69 kg,False,49,Chelsea,27.0,18.0,1735.0,Midfielder,6.842307,False,9.0,6.0,11.0,32.0,16.0,4.0,0.0,2.0,NaN,662.0,26.0,20.0,19.0,2.0,12.0,276.0,120.0,108.0,49.0,NaN,33.0,13.0,2.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2020/2021
721,890,Faustino Marcos Alberto,Rojo,32.0,Argentina,187 cm,85 kg,False,33,Manchester United,0.0,0.0,0.0,Defender,NaN,False,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020/2021
722,2294,Willian,Borges da Silva,34.0,Brazil,175 cm,77 kg,False,42,Arsenal,25.0,16.0,1406.0,Attacker,7.004000,False,9.0,10.0,17.0,13.0,3.0,1.0,0.0,5.0,NaN,677.0,32.0,23.0,13.0,NaN,8.0,106.0,56.0,18.0,13.0,NaN,21.0,5.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2020/2021
723,18897,DeAndre Roselle,Yedlin,29.0,USA,172 cm,75 kg,False,34,Newcastle,6.0,5.0,437.0,Defender,6.516666,False,1.0,2.0,4.0,1.0,NaN,0.0,0.0,NaN,NaN,135.0,3.0,17.0,9.0,1.0,7.0,31.0,18.0,2.0,1.0,NaN,4.0,4.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2020/2021
724,19549,Antonee,Robinson,25.0,USA,176 cm,70 kg,False,36,Fulham,28.0,24.0,2161.0,Defender,6.882142,False,4.0,2.0,7.0,6.0,4.0,0.0,0.0,NaN,NaN,1047.0,30.0,29.0,45.0,4.0,37.0,239.0,140.0,73.0,51.0,NaN,8.0,20.0,4.0,0.0,1.0,NaN,NaN,0.0,0.0,NaN,2020/2021