In [1]:
import numpy as np 
import pandas as pd
import glob
import os
import matplotlib as plt
import seaborn as sns
%matplotlib inline

In [2]:
#Import Data
df = pd.concat(map(pd.read_csv, glob.glob('Data Folder/*.csv')))

In [3]:
len(df)
#To see all columns
pd.set_option('display.max_columns', None)

In [4]:
#Check for duplicates
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, id, firstname, lastname, age, nationality, height, weight, injured, teamID, teamname, appearences, lineups, minutes, position, rating, captain, subIn, subOut, bench, totalShots, shotsOn, totalGoals, goalsConceded, goalAssists, goalSaves, totalPasses, keyPasses, passAccuracy, totalTackles, blocks, interceptions, duelsTotal, duelsWon, dribbleAttempts, dribblesSuccess, dribblesPast, foulsDrawn, foulsCommitted, cardsYel, cardsYelRed, cardsRed, penaltyWon, penaltyCommited, penaltyScored, penaltyMissed, penaltySaved, season]
Index: []

In [5]:
df

,Unnamed: 0,id,firstname,lastname,age,nationality,height,weight,injured,teamID,teamname,appearences,lineups,minutes,position,rating,captain,subIn,subOut,bench,totalShots,shotsOn,totalGoals,goalsConceded,goalAssists,goalSaves,totalPasses,keyPasses,passAccuracy,totalTackles,blocks,interceptions,duelsTotal,duelsWon,dribbleAttempts,dribblesSuccess,dribblesPast,foulsDrawn,foulsCommitted,cardsYel,cardsYelRed,cardsRed,penaltyWon,penaltyCommited,penaltyScored,penaltyMissed,penaltySaved,season
0,0,18241,Mark,Yeates,36.0,Republic of Ireland,175 cm,66 kg,False,47,Tottenham,0.0,0.0,0.0,Midfielder,NaN,False,0.0,0.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
1,1,19153,Gareth,Barry,39.0,England,183 cm,78 kg,False,66,Aston Villa,1.0,1.0,90.0,Midfielder,NaN,False,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
2,2,19203,Ashley,Cole,41.0,England,176 cm,66 kg,False,42,Arsenal,2.0,2.0,180.0,Defender,NaN,False,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
3,3,19417,Liam,Ridgewell,37.0,England,188 cm,77 kg,False,66,Aston Villa,0.0,0.0,0.0,Defender,NaN,False,0.0,0.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
4,4,50978,Justin,Hoyte,36.0,Trinidad and Tobago,180 cm,68 kg,False,42,Arsenal,1.0,0.0,1.0,Defender,NaN,False,1.0,0.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720,720,17,Christian,Pulisic,24.0,USA,172 cm,69 kg,False,49,Chelsea,27.0,18.0,1735.0,Midfielder,6.842307,False,9.0,6.0,11.0,32.0,16.0,4.0,0.0,2.0,NaN,662.0,26.0,20.0,19.0,2.0,12.0,276.0,120.0,108.0,49.0,NaN,33.0,13.0,2.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2020/2021
721,721,890,Faustino Marcos Alberto,Rojo,32.0,Argentina,187 cm,85 kg,False,33,Manchester United,0.0,0.0,0.0,Defender,NaN,False,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020/2021
722,722,2294,Willian,Borges da Silva,34.0,Brazil,175 cm,77 kg,False,42,Arsenal,25.0,16.0,1406.0,Attacker,7.004000,False,9.0,10.0,17.0,13.0,3.0,1.0,0.0,5.0,NaN,677.0,32.0,23.0,13.0,NaN,8.0,106.0,56.0,18.0,13.0,NaN,21.0,5.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2020/2021
723,723,18897,DeAndre Roselle,Yedlin,29.0,USA,172 cm,75 kg,False,34,Newcastle,6.0,5.0,437.0,Defender,6.516666,False,1.0,2.0,4.0,1.0,NaN,0.0,0.0,NaN,NaN,135.0,3.0,17.0,9.0,1.0,7.0,31.0,18.0,2.0,1.0,NaN,4.0,4.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2020/2021
724,724,19549,Antonee,Robinson,25.0,USA,176 cm,70 kg,False,36,Fulham,28.0,24.0,2161.0,Defender,6.882142,False,4.0,2.0,7.0,6.0,4.0,0.0,0.0,NaN,NaN,1047.0,30.0,29.0,45.0,4.0,37.0,239.0,140.0,73.0,51.0,NaN,8.0,20.0,4.0,0.0,1.0,NaN,NaN,0.0,0.0,NaN,2020/2021

In [6]:
#check the data types
df.dtypes

Unnamed: 0           int64
id                   int64
firstname           object
lastname            object
age                float64
nationality         object
height              object
weight              object
injured               bool
teamID               int64
teamname            object
appearences        float64
lineups            float64
minutes            float64
position            object
rating             float64
captain               bool
subIn              float64
subOut             float64
bench              float64
totalShots         float64
shotsOn            float64
totalGoals         float64
goalsConceded      float64
goalAssists        float64
goalSaves          float64
totalPasses        float64
keyPasses          float64
passAccuracy       float64
totalTackles       float64
blocks             float64
interceptions      float64
duelsTotal         float64
duelsWon           float64
dribbleAttempts    float64
dribblesSuccess    float64
dribblesPast       float64
foulsDrawn         float64
foulsCommitted     float64
cardsYel           float64
cardsYelRed        float64
cardsRed           float64
penaltyWon         float64
penaltyCommited    float64
penaltyScored      float64
penaltyMissed      float64
penaltySaved       float64
season              object
dtype: object

In [7]:
df.describe()

,Unnamed: 0,id,age,teamID,appearences,lineups,minutes,rating,subIn,subOut,bench,totalShots,shotsOn,totalGoals,goalsConceded,goalAssists,goalSaves,totalPasses,keyPasses,passAccuracy,totalTackles,blocks,interceptions,duelsTotal,duelsWon,dribbleAttempts,dribblesSuccess,dribblesPast,foulsDrawn,foulsCommitted,cardsYel,cardsYelRed,cardsRed,penaltyWon,penaltyCommited,penaltyScored,penaltyMissed,penaltySaved
count,10769.000000,10769.000000,10768.000000,10769.000000,10744.000000,10744.000000,10744.000000,3151.000000,10744.000000,10744.000000,10744.000000,3081.000000,3025.000000,10746.000000,1251.000000,1518.000000,245.000000,3194.00000,3075.000000,3189.000000,2689.000000,2837.000000,3093.000000,3179.000000,3162.000000,3089.000000,3068.000000,0.0,3115.000000,3120.000000,10744.000000,10744.000000,10744.000000,279.000000,342.000000,3356.000000,3356.000000,283.000000
mean,308.527254,52799.162132,33.340360,107.261306,14.907018,12.033972,1075.662882,6.811503,2.873045,2.859829,7.228500,17.014930,6.313058,1.416434,4.890488,2.754941,53.077551,530.20288,13.719675,62.766071,27.972480,5.250264,17.906240,153.821013,77.376028,23.584979,14.081812,NaN,14.752488,15.363782,1.722822,0.029412,0.044490,1.333333,1.181287,0.137068,0.035459,0.392226
std,192.324567,58742.816469,5.494017,241.179389,13.155257,12.349892,1086.994539,0.297129,4.014945,4.056578,7.867918,21.529422,9.231132,3.037434,13.272468,2.433944,44.225647,513.94415,17.333616,23.414608,24.565904,7.693125,20.379349,137.054278,69.260568,31.640426,18.914636,NaN,16.063919,14.239446,2.354637,0.175452,0.216325,0.809121,0.461923,0.662144,0.210585,0.667011
min,0.000000,17.000000,17.000000,33.000000,0.000000,0.000000,0.000000,4.950000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,144.000000,18609.000000,30.000000,40.000000,1.000000,0.000000,12.000000,6.646291,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,1.000000,9.000000,101.25000,2.000000,53.000000,8.000000,0.000000,2.000000,26.000000,14.000000,3.000000,2.000000,NaN,3.000000,3.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
50%,293.000000,19550.000000,34.000000,48.000000,13.000000,8.000000,752.000000,6.800000,1.000000,1.000000,4.000000,9.000000,3.000000,0.000000,0.000000,2.000000,45.000000,393.50000,7.000000,71.000000,22.000000,2.000000,10.000000,128.000000,64.000000,12.000000,7.000000,NaN,10.000000,12.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
75%,463.000000,90512.000000,37.000000,63.000000,27.000000,22.000000,1980.000000,6.972902,4.000000,4.000000,11.000000,23.000000,8.000000,1.000000,0.000000,3.000000,90.000000,798.00000,20.000000,79.000000,41.000000,7.000000,28.000000,244.000000,124.000000,32.000000,19.000000,NaN,21.000000,24.000000,3.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,751.000000,315237.000000,56.000000,1830.000000,42.000000,42.000000,3420.000000,8.900000,24.000000,26.000000,38.000000,184.000000,76.000000,32.000000,74.000000,20.000000,166.000000,2903.00000,147.000000,100.000000,175.000000,59.000000,156.000000,783.000000,404.000000,267.000000,183.000000,NaN,167.000000,81.000000,14.000000,2.000000,3.000000,6.000000,5.000000,10.000000,3.000000,3.000000

In [8]:
df

,Unnamed: 0,id,firstname,lastname,age,nationality,height,weight,injured,teamID,teamname,appearences,lineups,minutes,position,rating,captain,subIn,subOut,bench,totalShots,shotsOn,totalGoals,goalsConceded,goalAssists,goalSaves,totalPasses,keyPasses,passAccuracy,totalTackles,blocks,interceptions,duelsTotal,duelsWon,dribbleAttempts,dribblesSuccess,dribblesPast,foulsDrawn,foulsCommitted,cardsYel,cardsYelRed,cardsRed,penaltyWon,penaltyCommited,penaltyScored,penaltyMissed,penaltySaved,season
0,0,18241,Mark,Yeates,36.0,Republic of Ireland,175 cm,66 kg,False,47,Tottenham,0.0,0.0,0.0,Midfielder,NaN,False,0.0,0.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
1,1,19153,Gareth,Barry,39.0,England,183 cm,78 kg,False,66,Aston Villa,1.0,1.0,90.0,Midfielder,NaN,False,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
2,2,19203,Ashley,Cole,41.0,England,176 cm,66 kg,False,42,Arsenal,2.0,2.0,180.0,Defender,NaN,False,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
3,3,19417,Liam,Ridgewell,37.0,England,188 cm,77 kg,False,66,Aston Villa,0.0,0.0,0.0,Defender,NaN,False,0.0,0.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
4,4,50978,Justin,Hoyte,36.0,Trinidad and Tobago,180 cm,68 kg,False,42,Arsenal,1.0,0.0,1.0,Defender,NaN,False,1.0,0.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720,720,17,Christian,Pulisic,24.0,USA,172 cm,69 kg,False,49,Chelsea,27.0,18.0,1735.0,Midfielder,6.842307,False,9.0,6.0,11.0,32.0,16.0,4.0,0.0,2.0,NaN,662.0,26.0,20.0,19.0,2.0,12.0,276.0,120.0,108.0,49.0,NaN,33.0,13.0,2.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2020/2021
721,721,890,Faustino Marcos Alberto,Rojo,32.0,Argentina,187 cm,85 kg,False,33,Manchester United,0.0,0.0,0.0,Defender,NaN,False,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020/2021
722,722,2294,Willian,Borges da Silva,34.0,Brazil,175 cm,77 kg,False,42,Arsenal,25.0,16.0,1406.0,Attacker,7.004000,False,9.0,10.0,17.0,13.0,3.0,1.0,0.0,5.0,NaN,677.0,32.0,23.0,13.0,NaN,8.0,106.0,56.0,18.0,13.0,NaN,21.0,5.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2020/2021
723,723,18897,DeAndre Roselle,Yedlin,29.0,USA,172 cm,75 kg,False,34,Newcastle,6.0,5.0,437.0,Defender,6.516666,False,1.0,2.0,4.0,1.0,NaN,0.0,0.0,NaN,NaN,135.0,3.0,17.0,9.0,1.0,7.0,31.0,18.0,2.0,1.0,NaN,4.0,4.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2020/2021
724,724,19549,Antonee,Robinson,25.0,USA,176 cm,70 kg,False,36,Fulham,28.0,24.0,2161.0,Defender,6.882142,False,4.0,2.0,7.0,6.0,4.0,0.0,0.0,NaN,NaN,1047.0,30.0,29.0,45.0,4.0,37.0,239.0,140.0,73.0,51.0,NaN,8.0,20.0,4.0,0.0,1.0,NaN,NaN,0.0,0.0,NaN,2020/2021

In [9]:
#Import the player of the year and merge to df
PFA = pd.read_csv('pfaData')

In [10]:
PFA.drop('Unnamed: 0', axis=1)

       season                   name
0     1973–74          Norman Hunter
1     1974–75             Colin Todd
2     1975–76           Pat Jennings
3     1976–77              Andy Gray
4     1977–78          Peter Shilton
5     1978–79             Liam Brady
6     1979–80        Terry McDermott
7     1980–81              John Wark
8     1981–82           Kevin Keegan
9     1982–83         Kenny Dalglish
10    1983–84               Ian Rush
11    1984–85             Peter Reid
12    1985–86           Gary Lineker
13    1986–87            Clive Allen
14    1987–88            John Barnes
15    1988–89            Mark Hughes
16    1989–90            David Platt
17    1990–91        Mark Hughes (2)
18    1991–92         Gary Pallister
19    1992–93           Paul McGrath
20    1993–94           Eric Cantona
21    1994–95           Alan Shearer
22    1995–96          Les Ferdinand
23    1996–97       Alan Shearer (2)
24    1997–98        Dennis Bergkamp
25    1998–99           David Ginola
26  1999–2000              Roy Keane
27  2000/2001       Teddy Sheringham
28  2001/2002    Ruud van Nistelrooy
29  2002/2003          Thierry Henry
30  2003/2004      Thierry Henry (2)
31  2004/2005             John Terry
32  2005/2006         Steven Gerrard
33  2006/2007      Cristiano Ronaldo
34  2007/2008  Cristiano Ronaldo (2)
35  2008/2009             Ryan Giggs
36  2009/2010           Wayne Rooney
37  2010/2011            Gareth Bale
38  2011/2012       Robin van Persie
39  2012/2013        Gareth Bale (2)
40  2013/2014            Luis Suárez
41  2014/2015            Eden Hazard
42  2015/2016           Riyad Mahrez
43  2016/2017           N'Golo Kanté
44  2017/2018          Mohamed Salah
45  2018/2019        Virgil van Dijk
46  2019/2020        Kevin De Bruyne
47  2020/2021    Kevin De Bruyne (2)

In [12]:
#merge 2 datasets
fullDf = pd.merge(df,PFA, on='season')
fullDf

,Unnamed: 0_x,id,firstname,lastname,age,nationality,height,weight,injured,teamID,teamname,appearences,lineups,minutes,position,rating,captain,subIn,subOut,bench,totalShots,shotsOn,totalGoals,goalsConceded,goalAssists,goalSaves,totalPasses,keyPasses,passAccuracy,totalTackles,blocks,interceptions,duelsTotal,duelsWon,dribbleAttempts,dribblesSuccess,dribblesPast,foulsDrawn,foulsCommitted,cardsYel,cardsYelRed,cardsRed,penaltyWon,penaltyCommited,penaltyScored,penaltyMissed,penaltySaved,season,Unnamed: 0_y,name
0,0,18241,Mark,Yeates,36.0,Republic of Ireland,175 cm,66 kg,False,47,Tottenham,0.0,0.0,0.0,Midfielder,NaN,False,0.0,0.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003,29,Thierry Henry
1,1,19153,Gareth,Barry,39.0,England,183 cm,78 kg,False,66,Aston Villa,1.0,1.0,90.0,Midfielder,NaN,False,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003,29,Thierry Henry
2,2,19203,Ashley,Cole,41.0,England,176 cm,66 kg,False,42,Arsenal,2.0,2.0,180.0,Defender,NaN,False,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003,29,Thierry Henry
3,3,19417,Liam,Ridgewell,37.0,England,188 cm,77 kg,False,66,Aston Villa,0.0,0.0,0.0,Defender,NaN,False,0.0,0.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003,29,Thierry Henry
4,4,50978,Justin,Hoyte,36.0,Trinidad and Tobago,180 cm,68 kg,False,42,Arsenal,1.0,0.0,1.0,Defender,NaN,False,1.0,0.0,1.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2002/2003,29,Thierry Henry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10764,720,17,Christian,Pulisic,24.0,USA,172 cm,69 kg,False,49,Chelsea,27.0,18.0,1735.0,Midfielder,6.842307,False,9.0,6.0,11.0,32.0,16.0,4.0,0.0,2.0,NaN,662.0,26.0,20.0,19.0,2.0,12.0,276.0,120.0,108.0,49.0,NaN,33.0,13.0,2.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2020/2021,47,Kevin De Bruyne (2)
10765,721,890,Faustino Marcos Alberto,Rojo,32.0,Argentina,187 cm,85 kg,False,33,Manchester United,0.0,0.0,0.0,Defender,NaN,False,0.0,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,2020/2021,47,Kevin De Bruyne (2)
10766,722,2294,Willian,Borges da Silva,34.0,Brazil,175 cm,77 kg,False,42,Arsenal,25.0,16.0,1406.0,Attacker,7.004000,False,9.0,10.0,17.0,13.0,3.0,1.0,0.0,5.0,NaN,677.0,32.0,23.0,13.0,NaN,8.0,106.0,56.0,18.0,13.0,NaN,21.0,5.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2020/2021,47,Kevin De Bruyne (2)
10767,723,18897,DeAndre Roselle,Yedlin,29.0,USA,172 cm,75 kg,False,34,Newcastle,6.0,5.0,437.0,Defender,6.516666,False,1.0,2.0,4.0,1.0,NaN,0.0,0.0,NaN,NaN,135.0,3.0,17.0,9.0,1.0,7.0,31.0,18.0,2.0,1.0,NaN,4.0,4.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,NaN,2020/2021,47,Kevin De Bruyne (2)
10768,724,19549,Antonee,Robinson,25.0,USA,176 cm,70 kg,False,36,Fulham,28.0,24.0,2161.0,Defender,6.882142,False,4.0,2.0,7.0,6.0,4.0,0.0,0.0,NaN,NaN,1047.0,30.0,29.0,45.0,4.0,37.0,239.0,140.0,73.0,51.0,NaN,8.0,20.0,4.0,0.0,1.0,NaN,NaN,0.0,0.0,NaN,2020/2021,47,Kevin De Bruyne (2)

In [ ]:
#Look at data throughout the seasons